.header{
    padding-top: 20px; 
    border-radius: 0 0 20px 20px; 
    position: relative; 
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

.ctn_filter{
    display: block;
}

@media (min-width: 768px) {

    .ctn_filter{
        display: flex;
        justify-content: space-between;
    }

    .header::before{
        height: 100%;
    }
}